@use '@/styles/variables' as v;

.button {
  border: 2px solid v.$color-main-green;
  color: inherit;
  text-align: center;
  border-radius: 20px;
  padding: 8px 16px;
  background: transparent;
  scale: 1;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    scale 0.2s ease;
  font-weight: 600;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }
}

.primary,
.secondary {
  background: var(--button-bg, v.$color-white);
  color: var(--button-fg, v.$color-main-green);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: v.$color-main-green-l;
    }
  }
}

.scaleOnHover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      scale: 1.1;
    }
  }
}
.favBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: v.$borderRadiusRound;
  border: none;
  height: 2.2rem;
  width: 2.2rem;
  transition: all 0.25s ease;
  box-shadow: v.$box-shadow;
}
