@use '@/styles/variables' as v;

.button {
  border: none;
  color: inherit;
  text-align: center;
  border-radius: 20px;
  padding: 8px 16px;
  background: transparent;
  scale: 1;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    scale 0.2s ease;
  font-weight: 600;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }
}

.primary {
  background: v.$color-main-green;
  color: var(--button-primary-fg, v.$color-white);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: v.$color-main-green-l;
    }
  }
}

.secondary {
  background: v.$color-main-green;
  color: var(--button-secondary-fg, v.$color-white);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: v.$color-main-green-l;
    }
  }
}

.ghost {
  color: var(--button-ghost-fg, v.$color-dark-grey);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--button-primary-hover-bg, v.$color-main-green-l);
    }
  }
}

.scaleOnHover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      scale: 1.1;
    }
  }
}
.closeBtn {
  border-radius: 50%;
  margin-bottom: 1rem;
  background: v.$color-dark-grey;
}
.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 8px;
  margin: 0;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      scale: 1.07;
      background: v.$color-main-green-l;
    }
    &:active {
      scale: 1.11;
    }
  }
}
