@use '@/styles/variables' as v;

.select {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  border-radius: v.$borderRadius2;
  border: 2px solid v.$color-main-green;
  border: none;
  box-shadow: v.$box-shadow-hover;
  appearance: none;
  // background-color: v.$color-main-green-l;
  font-family: inherit;
  position: relative;
  z-index: 1000;
  outline: none;
  transition: all 0.2s ease;

  &:hover,
  &:active,
  &:focus {
    box-shadow: v.$box-shadow-green-hover;
  }
  &:disabled {
    box-shadow: none;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: v.$box-shadow-hover;
    }
  }
}
