@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 80px;
}
.contentSighUp {
  margin-top: 50px;
}
.title {
  color: v.$color-yellow;
  color: v.$color-main-green;
  font-size: 24px;
  font-weight: 800;
}
.formContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: v.$borderRadius3;
  box-shadow: v.$box-shadow;
  min-width: 390px;
  max-width: 450px;
  background-color: v.$color-tint-gray;
  transition: box-shadow 0.2s ease;
  box-shadow: v.$box-shadow;

  &:hover {
    box-shadow: v.$box-shadow-hover;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.error {
  color: v.$color-error;
  align-self: flex-start;
  font-size: 14px;
  min-height: 16px;
  padding: 0;
  margin: 0;
}

.linkWrapper {
  text-align: center;
  font-size: 18px;
  line-height: 111%;
  font-weight: 700;
}
