@use '@/styles/variables' as v;

.link {
  // color: v.$color-yellow;
  color: v.$color-main-green;
  color: var(--app-link-primary-fg, v.$color-main-green);
  font-weight: 800;
  text-decoration: none;
  transition: color 0.2s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: v.$color-yellow;
    }
  }
}
