// ===== Neutral =====
$color-dark-grey: #444;
$color-silver: #f6f6f6;
$color-white: #ffffff;

// ===== Primary =====
$color-info: #9ae9ff;
$color-yellow: #fbd268;
$color-gray: #969696;
$color-main-green: #a0c451;
$color-main-green-l: #ecf5d8;
$color-main-grey: #6a6a6a;

// ===== Color Tints =====
$color-tint-gray: #e2e2e2;

// ===== Action =====
$color-error: #e53835;

$box-shadow: 0 2px 10px rgb(0, 0, 0, 10%);
$box-shadow-hover: 0 2px 10px rgb(0, 0, 0, 20%);
$box-shadow-greenl: 0 6px 15px rgb(236, 245, 216);
$box-shadow-green-hover: 0 6px 15px rgba(160, 196, 81, 0.5);

$laptop: 1300px;
$tablet: 1160px;
$tablet-sm: 768px;
$phone: 620px;
