// ===== Neutral =====
$color-black: #263238;
$color-grey: #717171;
$color-l-grey: #89939e;
$color-silver: #f5f7fa;
$color-white: #ffffff;

// ===== Primary =====
$color-info: #2194f3;
$color-orange: #f18f01;
$color-gray: #969696;
$color-pink: #f865b0;

// ===== Color Shades =====
$color-shade-orange1: #ff9900;
$color-shade-pink1: #fc49a6;

// ===== Color Tints =====
$color-tint-orange1: #f8ead5;
$color-tint-orange2: #f0c077;
$color-tint-gray: #e2e2e2;

// ===== Action =====
$color-warning: #2e7d31;
$color-error: #e53835;
$color-success: #fbc02d;

$box-shadow: 0 2px 10px rgb(0, 0, 0, 10%);
$box-shadow-hover: 0 2px 10px rgb(0, 0, 0, 20%);

$laptop: 1300px;
$tablet: 1160px;
$tablet-sm: 768px;
$phone: 620px;
