@use 'variables';
@use 'mixins';

@use '@/styles/variables' as v;

*,
::before,
::after {
  // box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  font-family: var(--font-nunito), sans-serif;
}

body {
  color: v.$color-dark-grey;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* Theme classes on html element */
.light {
  /* Base */
  --bg: #{v.$color-white};
  // --text: #{v.$color-dark-grey};

  /* Header */
  --header-bg: #{v.$color-white};
  --header-sticky-bg: #{v.$color-silver};
  --header-wrapper-bg: #{v.$color-white};

  /* App Link */
  --app-link-primary-fg: #{v.$color-main-green};

  /* Buttons */
  --button-primary-fg: #{v.$color-white};
  --button-secondary-fg: #{v.$color-white};
  --button-ghost-fg: #{v.$color-dark-grey};

  /* Pet Card */
  --petCard-bg: #{v.$color-white};

  /* Home */
  --home-text-color-fg: #{v.$color-dark-grey};

  background-color: var(--bg);
}

.dark {
  /* Base */
  --bg: #{v.$color-silver};
  --box-shadow: #{v.$box-shadow};
  --box-shadow-hover: #{v.$box-shadow-hover};

  /* Header */
  --header-bg: #{v.$color-silver};
  --header-sticky-bg: #{v.$color-silver};
  --header-wrapper-bg: #{v.$color-silver};

  /* App Link */
  // --app-link-primary-fg: #{v.$color-yellow};

  /* Buttons */
  --button-primary-fg: #{v.$color-dark-grey};
  --button-secondary-fg: #{v.$color-dark-grey};
  --button-ghost-fg: #{v.$color-white};
  --labguage-btn-bg: #{v.$color-silver};

  /* Pet Card */
  --petCard-bg: #{v.$color-main-green-l};

  /* Home */
  --home-content-green-light-color: #{v.$color-main-green-l};

  background-color: var(--bg);
}
