@use '@/styles/variables' as v;

.petCard {
  box-shadow: v.$box-shadow;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  width: 250px;
  margin-bottom: 20px;
  list-style: none;
  transition: all 0.25s ease;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--petCard-bg, v.$color-white);

  &:hover {
    box-shadow: var(--box-shadow-hover, v.$box-shadow-green-hover);
    transform: translateY(-6px);
  }
}

.petPhoto {
  object-fit: cover;
  border-bottom: 1px solid v.$color-main-green;
  border-radius: 1rem 1rem 0 0;
}
.shortInfoBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  flex-direction: column;
  gap: 0.25rem;
}

.petName {
  font-size: 1.3rem;
  margin: 0.8rem 0;
  color: v.$color-main-green;
  font-weight: 700;
  color: v.$color-main-green;
}

.petCard:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.139),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}
