@use '@/styles/variables' as v;

.circleLoader {
  width: 60px;
  height: 60px;
  border-width: 8px;
  border-style: solid;
  border-color: v.$color-main-green-l;
  border-top-color: v.$color-main-green;
  border-radius: v.$borderRadiusRound;
  margin: auto;
  margin-top: 20%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
