@use '@/styles/variables' as v;

.petList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.352);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  z-index: 9999;
  animation: fadeInOverlay 0.3s ease forwards;
}

.modalContent {
  margin: auto;
  overflow: visible;
  padding: 1.1rem;

  p {
    text-align: start;
  }
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
