@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: v.$box-shadow;
  background: var(--header-bg, v.$color-tint-pink-bg);
  backdrop-filter: none;
  will-change: contents;
  transition: background-color 0.2s ease;
}
.sticky {
  background-color: var(--header-sticky-bg, v.$color-silver);
}
.sticky .headerWrapper {
  padding: 10px 15px;
}

.headerWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  background: var(--header-wrapper-bg, v.$color-tint-gray);
  border-radius: 10px;
  transition: padding 0.2s ease;
  // color: var(--header-text);

  @include m.phone {
    flex-direction: column;
  }
}
.nav {
  display: flex;
  gap: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navLink {
  font-size: 18px;
  line-height: 111%;
}

.signOut {
  color: v.$color-pink;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 111%;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: v.$color-tint-orange1;
    }
  }
}
