@use '@/styles/variables' as v;

.petCard {
  position: relative;
  box-shadow: v.$box-shadow;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 350px;
  list-style: none;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
  background-color: var(--petCard-bg, v.$color-white);
  overflow: visible;

  &:hover {
    box-shadow: v.$box-shadow-hover;
    background-color: var(--petCard-bg, v.$color-silver);
  }
}
.petPhoto {
  border-radius: 8px;
  object-fit: cover;
}
.petName {
  margin: 12px 0;
  font-size: 1.4rem;
  color: v.$color-main-green;
}
.shortInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-start;
}
.closeBtn {
  position: absolute;
  top: -1.1rem;
  right: -1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  background: v.$color-main-green;
  background-color: v.$color-white;
  transition: all 0.25s ease;
  z-index: 10;
  // padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    background: v.$color-main-green-l;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
}

.favBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  background: v.$color-main-green;
  transition: all 0.25s ease;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
}
