@use '@/styles/variables' as v;
@use '../pet-list/pet-list.module.scss' as *;

.emptyState {
  text-align: center;
  padding: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: v.$color-main-green;
}

.petCardWrapper {
  position: relative;
}

.removeBtn {
  position: absolute;
  top: -1.1rem;
  right: -1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  background-color: v.$color-white;
  transition: all 0.25s ease;
  z-index: 10;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: v.$color-main-green;

  &:hover {
    background: v.$color-main-green-l;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
}
