@use '@/styles/variables' as v;
@use '../pet-list/pet-list.module.scss' as *;

.emptyState {
  text-align: center;
  padding: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: v.$color-main-green;
}

.petCardWrapper {
  position: relative;
}
