@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.wrapper {
  margin-top: 4rem;
  padding: 0 1.5rem 4rem;
  // width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.mainTitle {
  padding: 1.5rem 2.5rem;
  border-radius: 4rem;
  // background-color: v.$color-main-green;
  // background-color: var(--home-content-orange-color, v.$color-main-green);
  text-align: center;
  align-items: center;
  color: v.$color-white;
  color: v.$color-main-green;
  box-shadow: var(--box-shadow, v.$box-shadow-greenl);
}
.secondaryTitle {
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  background-color: var(--home-content-orange-color, v.$color-main-green);
  color: v.$color-white;
  text-align: center;
  display: inline-block;
  align-self: flex-start;
  box-shadow: var(--box-shadow, v.$box-shadow-greenl);

  @include m.tablet-sm {
    align-self: center;
  }
  .title {
    font-size: 1.4rem;
    margin: 0;
  }
}
.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--home-content-orange-color, v.$color-dark-grey);

  font-weight: 600;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.contentWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1000px;
  width: 100%;

  @include m.tablet-sm {
    flex-direction: column;
    gap: 2rem;
  }
  img {
    padding: 0.5rem;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  @include m.tablet-sm {
    text-align: center;
  }
}

.uniqueBlock {
  text-align: center;
  background-color: var(--uniqueBlock-bg, inherit);
  // background-color: inherit;
  padding: 3rem 2rem 2rem;
  border-radius: 7rem;
  max-width: 900px;
  box-shadow: var(--box-shadow, v.$box-shadow-greenl);

  h2 {
    font-size: 1.8rem;
    color: var(--home-content-orange-color, v.$color-main-green);
    font-weight: 800;
  }

  img {
    margin-top: 1.5rem;
  }
}

.shadow {
  box-shadow: var(--box-shadow, v.$box-shadow-greenl);
  padding: 2rem;
  border-radius: 1rem;
  border-radius: 4rem;
  // background-color: v.$color-main-green-l;
}
