@use '@/styles/variables' as v;

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  background: var(--labguage-btn-bg, v.$color-white);
  padding: 6px;
  border-radius: 30px;
  box-shadow: v.$box-shadow;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: v.$box-shadow-hover;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: v.$borderRadiusRound;

  width: 20px;
  height: 20px;
  text-decoration: none;
}

.inactive {
  opacity: 0.4;
}

.active {
  opacity: 1;
}

.imageWrapper {
  position: relative;
  width: 48px;
  height: 36px;
  border-radius: v.$borderRadiusRound;
}
.image {
  object-fit: cover;
}
