@use '@/styles/variables' as v;

.input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid v.$color-silver;
  border-radius: 0.8rem;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  background-color: v.$color-white;
  background: var(--input-bg, v.$color-white);
  color: v.$color-dark-grey;
  box-shadow: v.$box-shadow;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: v.$box-shadow-hover;
    }
  }
  &:focus {
    box-shadow: v.$box-shadow-hover;
    border-color: v.$color-yellow;
    outline: none;
  }

  &:disabled {
    background: v.$color-silver;
    cursor: not-allowed;
  }
}
.small {
  padding: 4px 8px;
}
